<form action="/random/results">
<div>
<label for="min">Minimum</label>
<input id="min" name="user_min" placeholder="E.g. 1.5">
</div>
<div>
<label for="max">Maximum</label>
<input id="max" name="user_max" placeholder="E.g. 4.5">
</div>
<div><button>Pick random number</button></div>
</form>
